.item {
    border-radius: 8px;
    background-color: rgb(107, 114, 201);
    margin-bottom: 5px;
}
.link {
    display:flex;
}
.link:hover, .link:focus {
    background: #1c2dcc;
    border-radius: 8px;
}

.linkText {
    width: 25%;
    padding: 10px 0;
    text-align: center;
}